%main.transportation
  .main-overlay
  .container
    %nav.breadcrumbs
      = render_breadcrumbs
      %span Tools
  %section.container
    .ui.equal.width.grid
      - @tools.each do |tool|
        = link_to tool, class: "six wide column" do
          .ui.icon.header
            %i.write.icon
            .content
              = tool.title
        / = tool.tagline
        / = link_to(tool.title, tool)
