.ui.container.section
  .grid-row
    - @tools.each do |tool|
      .post-excerpt.one-third
        %img{:alt => "", :src => tool.screenshot.url(:thumbnail)} 
          %p.post-data
            %a{:href => "#"} Category
            \-
            %time{:datetime => ""} September 9, 2015
          %h3
            %a{:href => "#"} 
              = tool.title
