%main.tools
  .main-overlay
  %section.subheader
    .splash-icon
      %i.cubes.huge.icon
    .breadcrumb-wrap
      %nav.breadcrumbs
        = render_breadcrumbs
        %span Data Tools
    .container
      .grid-row
        .section-info.two-thirds
          %h1 Data Tools
          %p Browse our portfolio of data tools to help you in your work.
  %section
    .container
      .ui.three.stackable.cards
        - @tools.each do |tool|
          = link_to tool, class: ["ui", tool.color, "card", "tool"] do
            .card-splash-icon
              %i{class: ["huge", "icon", tool.icon] }
            .content
              .header 
                = tool.title
              .meta

              .description
                %p
                  = tool.tagline
