%footer.site-footer{role: 'contentinfo'}
  .container
    %h4 Get In Touch
    .grid-row
      .one-fourth
        E-mail:
        %a{href: 'mailto:data@mapc.org'} data@mapc.org
        %br
        Phone:
        %a{href: 'tel:6179330700'}
          (617) 933-0700
      .one-fourth.column-shift
        %strong
          = link_to 'Get to know us.', staffs_path
      -# .one-fourth.column-shift
      -#   %strong Provide Feedback
      -#   %br
      -#     We invite you to leave comments about our Web site.
    %hr
      %h4 Our Funders
      .grid-row
        %ul.footer-links.list-no-style.one-third
          %li
            %a{href: 'http://bostonindicators.org'}
              %img.funder-logo{src: '/img/BIP_2015_white.png'         }
          %li
            %a{href: 'http://tbf.org'}
              %img.funder-logo{src: '/img/boston-foundation-white.png'}
        %ul.footer-links.list-no-style.one-third
          %li
            %a{href: 'http://livingcities.org'}
              %img.funder-logo{src: '/img/living_cities.png'          }
          %li
            %a{href: 'http://knightfoundation.org'}
              %img.funder-logo{src: '/img/Knight-Foundation.png'      }
        %ul.footer-links.list-no-style.one-third
          %li
            %a{href: 'http://barrfoundation.org'}
              %img.funder-logo{src: '/img/barr_logo.jpg'              }
      %hr
        .footer-omega
          .two-thirds.right.column-last
            %a{href: 'http://mapc.org', target: '_blank'}
              %small &copy; #{ Time.current.year } Metropolitan Area Planning Council
          %a.logo-wrap{href: 'http://mapc.org', target: '_blank'}
            %img.site-logo{alt: 'MAPC Data Services', onerror: "this.src='{{ site.url }}/img/coo-logo-black.png'; this.onerror=null;", src: '/img/mapc-color.png'}/
%span.js-media-query-med
