%footer.site-footer{:role => "contentinfo"}
  .container
    %h4 Get In Touch
    .grid-row
      .one-fourth
        %strong Call 3-1-1 from within the City
        %br
          TTY service is also available by dialing (212) 504-4115.
      .one-fourth.column-shift
        %strong Contact Mayor Libby Schaaf
        %br
          You may contact Mayor Libby Schaaf by postal mail, phone, or submitting an online message.
      .one-fourth.column-shift
        %strong Provide Feedback
        %br
          OaklandCA.gov invites you to leave your comments about our Web site.
    %hr
      %h4 Oakland Government
      .grid-row
        %ul.footer-links.list-no-style.one-third
          %li
            %a{:href => ""} Animal Services
          %li
            %a{:href => ""} City Clerk
          %li
            %a{:href => ""} Community &amp; Economic Development
          %li
            %a{:href => ""} Finance
          %li
            %a{:href => ""} Fire Department
        %ul.footer-links.list-no-style.one-third
          %li
            %a{:href => ""} Housing &amp; Community Development
          %li
            %a{:href => ""} Human resources Management
          %li
            %a{:href => ""} Human Services
          %li
            %a{:href => ""} Information Technology
          %li
            %a{:href => ""} Parks &amp; Recreation
        %ul.footer-links.list-no-style.one-third
          %li
            %a{:href => ""} Planning &amp; Building
          %li
            %a{:href => ""} Police Department
          %li
            %a{:href => ""} Public Library
          %li
            %a{:href => ""} Public Works
      %hr
        .footer-omega
          .one-third.right.column-last
            %small &copy; 2015 City of Oakland
            %br
              %a{:href => "#"}
                %small Privacy Policy
              %a{:href => "#"}
                %small Terms of Use
          %a.logo-wrap{:href => "#"}
            %img.site-logo{:alt => "MAPC Data Services", :onerror => "this.src='{{ site.url }}/img/coo-logo-black.png'; this.onerror=null;", :src => "http://files.live.datacommon.org.s3.amazonaws.com/logos/images/large/mapc-color.png"}/
%span.js-media-query-med
