.ui.borderless.main.menu#menu
  .ui.container
    .header.big.item{:href => "#"}
      %h1.ui.header
        %i.ioxhost.icon
        .content
          Data Services
    %a.ui.right.floated.dropdown.item#sidebar{:href => "#"}
      %i.icon.big.sidebar
