.ui.container.section
  .grid-row
    - @projects.each do |project|
      .post-excerpt.one-third
        %img{:alt => "", :src => project.preview.url(:thumbnail)} 
          %p.post-data
            %a{:href => "#"} Category
            \-
            %time{:datetime => ""} September 9, 2015
          %h3
            %a{:href => "#"} 
              = project.title
