%main.transportation
  .main-overlay
  .container
    %nav.breadcrumbs
      = render_breadcrumbs
      %span Our Work
  %section.container
    .grid-row
      - @projects.each do |project|
        .post-excerpt.one-third
          %img{:alt => "", :src => project.preview.url(:thumbnail)} 
            %p.post-data
              %a{:href => "#"} Category
              \-
              %time{:datetime => ""} September 9, 2015
            %h3
              = link_to(project.title, project)
