/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'leaflet'
 */

@import "primer";
@import "semantic-ui/collections/grid";
@import "semantic-ui/elements/header";
@import "semantic-ui/views/card";
@import "semantic-ui/elements/icon";
@import "semantic-ui/elements/button";
@import "semantic-ui/elements/segment";
@import "semantic-ui/elements/divider";
@import "semantic-ui/elements/label";
@import "semantic-ui/modules/popup";
@import "semantic-ui/elements/image";
@import "semantic-ui/modules/transition";
@import "maki-min";

// MAPC Green: #C6E3B2
// MAPC Blue: #004B8C

.site-logo {
  width: 75%;
  height: auto;
}

.dept-title {
  font-family: Fakt,Helvetica,arial,sans-serif;
}

.section-info {
  color: #FFFFFF;
  a, a:hover, a:active, a:visited {
    color: #B5E1F5;
  }
}

.menu-item-plain {
  @extend .menu-item;
}

.reset-position {
  top: 0;
  position: absolute;
  width: 100%;
}

.subheader {
  background-color: #004B8C;
}

.subheader.welcome {
  padding-bottom: 0;
}

a {
  color: #34495e;
}

#map {
  height: 25rem;
}

.leaflet-control-container {
  display: none;
}

.page-header:after {
  background-color: #004B8C;
}

.dept-title:before {
  width: 0px;
  background-color: #004B8C;
}

.site-footer .logo-wrap:before {
  background-color: #004B8C;
}

.ui.cards {
  margin-bottom: 1rem;
}

.menu-item.selected:before, .selected.menu-item-plain:before {
  background-color: #004B8C;
}

.menu-item:before {
  background-color: #004B8C;
}

.site-logo-wrap {
  padding-top: 0.35rem;
}

.splash-icon {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: absolute;
  // right: 0;
  right: 0;
  top:0;
  color: white;
  opacity: 0.15;
  font-size: 10rem;
}

// .ui.cards>.card, .ui.card {
//   border-radius: 0;
// }

.card-splash-icon {
  position: absolute;
  right: 0;
  bottom:0;
  color: black;
  opacity: 0.1;
  font-size: 1.75rem;
}

.cards {
  a:hover {
    text-decoration: none;
  }
}

.navicon, .navicon:before, .navicon:after {
  background: #004B8C;
}

.header-search .search-icon {
  color: #004B8C;
}

img.funder-logo {
  max-width: 245px;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.tools {
  .subheader {
    background-color: #004B8C;
  }

  .tool {
    width: 100%;
    height: 100%;
  }

  .ui.cards > .card {
    min-height: 200px;
  }

}

.projects {
  .subheader {
    background-color: #004B8C;
  }
  .breadcrumb-wrap .breadcrumbs a {
    color: white;
  }
}

.service {
  .subheader {
    margin-bottom: 0;
    min-height: 1rem;
  }

  .content-footer {
    margin-bottom: 2.5rem;
  }

  .next-link {
    right: inherit;
    padding-right: inherit;
    margin-right: inherit;
    width: inherit;
    text-align: inherit;
    background-color: rgba(0,75,140, 0.95);
  }
}

.group {
  .subheader {
    background-color: #004B8C;
  }
}

.view-more-box {
  height:192px;
  width:100%;
  text-align: center;
  background-color: #eee;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

// Override default gray to improve the look of circular avatars
// with a transparent image margin.

div.image {
  background-color: #FFFFFF !important;
}
