/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "primer";
@import "maki-min";
@import "semantic-ui/collections/grid";
@import "semantic-ui/elements/header";
@import "semantic-ui/views/card";
@import "semantic-ui/elements/icon";

.site-logo {
  width: 130px;
  height: 60px;
}

.section-info {
  color: #ffffff;
}

.menu-item-plain {
  @extend .menu-item;
}

.subheader {
  background-color: #4A148C;
}

a {
  color: #34495e;
} 

.cards {
  a:hover {
    text-decoration: none;
  } 
}

.tool {
  background-color: aliceblue;
  // min-height: 100px;

  width: 100%;
  height: 100%;
}
